:root {
    --highlight-dark: #DF7374;
    --highlight-light: #FDE0DE;
    --site-bg: #fafafa;
    --site-text: #1E1E1E;
    --rounded-corners-all: 1.25rem;
    --rounded-corners-top: 1.25rem;
}
/* Utility */

body {
    background-color: var(--site-bg);
}

.rounded {
    border-radius: var(--rounded-corners-all);
}

.rounded-top {
    border-top-left-radius: var(--rounded-corners-top);
    border-top-right-radius: var(--rounded-corners-top);
}

/* Colours */

.accent-dark {
    background-color: var(--highlight-dark);
}

.accent-light {
    background-color: var(--highlight-light);
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
p,
span,
strong,
a,
ul,
li,
.nav-link {
    color: var(--site-text);
}

a:hover,.nav-link:hover {
    color: #fafafa;
    font-weight: 500;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Custom Classes */

.logo-wrapper {
    width: 125px;
    position: absolute;
    z-index: 5;
    top: 0px;
}









@media screen and (max-width: 640px) {
    .logo-wrapper {
        width: 75px;
    }
}