/* Add a root for custom properties  */

:root {
    --highlight-dark: #DF7374;
    --highlight-light: #FDE0DE;
    --site-bg: #fafafa;
    --site-text: #1E1E1E;
}

body {
    background-color: var(--site-bg);
}

.accent-dark {
    --highlight-dark: var(--highlight-dark);
}

.accent-light {
    --highlight-light: var(--highlight-light);
}

h1,
h2,
h3,
h4,
h5,
p,
span,
strong {
    color: var(--site-text);
}