{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}
{% load static %}

<div class="edit-recipe__form">
  <h1>Edit Recipe</h1>
  <form method="post" class="mb-3 form-inline">
    {% csrf_token %}
    {{ recipe_form|crispy|safe }}
    <button type="submit" class="btn mt-2 accent-dark">Save Changes</button>
  </form>

  {% if request.user == recipe.author %}
  <form method="post" class="mb-5 form-inline" action="{% url 'delete_recipe' slug=recipe.slug %}">
    {% csrf_token %}
    <button type="submit" class="btn mb-5 accent-dark">Delete Recipe</button>
  </form>
  {% endif %}
</div>

  {% if form.errors %}
  <div class="alert alert-danger">
      <strong>Errors:</strong>
      <ul>
          {% for field in form %}
              {% for error in field.errors %}
                  <li>{{ error }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
  </div>
  {% endif %}
  
{% endblock %}
