{% extends "base.html" %}

{% block content %}

<!-- Temp Inline styline for sections -->
<style>
  section {
    margin: 100px 0;
  }
</style>

<!-- BS5 Carousel -->
<div id="heroSlider" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://via.placeholder.com/900x300" class="d-block w-100" alt="Slide 1">
      <div class="carousel-caption d-none d-md-block">
        <h5>Slide 1</h5>
        <p>Slide 1 description goes here.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://via.placeholder.com/900x300" class="d-block w-100" alt="Slide 2">
      <div class="carousel-caption d-none d-md-block">
        <h5>Slide 2</h5>
        <p>Slide 2 description goes here.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://via.placeholder.com/900x300" class="d-block w-100" alt="Slide 3">
      <div class="carousel-caption d-none d-md-block">
        <h5>Slide 3</h5>
        <p>Slide 3 description goes here.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#heroSlider" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#heroSlider" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Ipsa eos corporis deleniti itaque eum quo quam id molestias, culpa quae animi labore nobis!
  Fugiat, in iusto consequatur facilis quibusdam libero.

</div>

<section class="container-fluid">
  <!-- 1st Row -->
  <div class="container">
    <h2 class="text-center">NEWEST RECIPES</h2>
    <!-- Placeholder Cards -->
    <div class="row">
      {% for recipe in newest_recipes %}
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center" style="margin: 1.5rem 0;">
        <div class="card" style="width: 18rem;">
          <img src="{{ recipe.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">{{ recipe.snippet }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-xl" href="#" role="button">See All</a>
  </div>
  </div>

  <!-- 2nd Row -->
  <div class="container">
    <h2 class="text-center">TRENDING RECIPES</h2>
    <!-- Loop through Recipes with Highest score -->
    <!-- Placeholder Cards -->
    <div class="row">
      {% for recipe in trending_recipes %}
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 d-flex justify-content-center" style="margin: 1.5rem 0;">
        <div class="card" style="width: 18rem;">
          <img src="{{ recipe.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">{{ recipe.snippet }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="d-flex justify-content-center">
      <a class="btn btn-primary btn-xl" href="#" role="button">See All</a>
    </div>
  </div>
</section>

<section class="featured-recipes">
  <div class="container">
    <div class="row justify-content-center">
      <!-- 2 Recipes Marked as featured, limit of 2 -->
      <div class="col-5 md-6">
        <div class="jumbotron">
          <h1 class="display-4">Hello, world!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
            to
            featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
      </div>

      <div class="col-5 md-6">
        <div class="jumbotron">
          <h1 class="display-4">Hello, world!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
            to
            featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="promo">
  <!-- Heading with a 2 column layout with text on the left and image on the right -->
  <div class="container">
    <div class="row justify-content-center">
      <h3 class="text-center">FEATURED RECIPES</h3>
      <div class="col-5 col-md-6">
        <h3>Hello, world!</h3>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
          content or information.</p>
      </div>
      <div class="col-4 col-md-4">
        <img class="img-fluid" src="img/bootstrap-solid.png" alt="Bootstrap">
      </div>
    </div>


</section>

{% endblock %}