{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ recipe.title }}</h1>
                            <p class="fw-bold">{{ recipe.snippet }}</p>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ recipe.get_category_display }}</a>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{ recipe.created_date }}</div>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4">
                            <img class="img-fluid rounded" src="{{ recipe.image.url }}" alt="{{ recipe.title }}: {{ recipe.snippet }}" />
                            <figcaption class="text-align-left">All Images courtesy of Midjourney 5</figcaption>
                        </figure>
                        <section class="mb-5">
                            <div class="d-flex">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <p class="fs-6 mb-1">How Long does it take?</p>
                                    <p class="fs-5 mb-4">{{ recipe.cooking_time_minutes }} Minutes</p>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <p class="fs-6 mb-1">How Difficult Is it?</p>
                                    <p class="fs-5 mb-4">{{ recipe.difficulty }} / 5</p>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <p class="fs-6 mb-1">How Did others Rate our Recipe?</p>
                                    <p class="fs-5 mb-4">{{ avg_rating|floatformat }} </p>
                                </div>
                            </div>
                        </section>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ recipe.ingredients|striptags }}</p>
                        </section>
                        <hr>
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{ recipe.instructions|striptags }}</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <h3 class="fw-bolder mb-3">Leave A Comment</h3>
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if commented %}
                                <div class="alert alert-success" role="alert">
                                    Your comment is awaiting approval
                                </div>
                                {% else %}
                                {% if user.is_authenticated %}
                                
                                <h3>Leave a comment:</h3>
                                <p>Posting as: {{ user.username }}</p>
                                <form method="post" class="d-flex flex-column" style="margin-top: 1.3em;">
                                    {{ comment_form | crispy }}
                                    {% csrf_token %}
                                    <button type="submit" class="btn accent-dark btn-lg mt-2">Submit</button>
                                </form>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </section>
                        {% if comments.count > 0 %}
                        <section class="mt-5">
                        <h3 class="fw-bolder mb-3">Comments</h3>
                        {% for comment in comments %}
                        <div class="d-flex mb-3">
                            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..."></div>
                            <div class="ms-3">
                                <div class="fw-bold">{{ comment.user }}</div>
                                <p>{{ comment.body }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </section>
                    {% endif %}
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        {% for category in active_categories %}
                                        <li><a href="/category/?category={{category}}">{{ category }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>

  

{% endblock %}