{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container mt-5 pt-5">
    <h1>Thanks for Submitting!</h1>
    <div class="row mb-4">
        <div class="d-flex flex-no-wrap align-items-center">
            <img src="{% static 'img/faq_1.png' %}" class="img-fluid">
            <p class="mx-3">
                We appreciate your submission! Each submission helps to build our community and share those 'special' recipes! 
            </p>
        </div>
    </div>

    <div class="row mb-4">
        <h2>What Happens Next?</h2>
        <div class="d-flex flex-no-wrap align-items-center">
            <img src="{% static 'img/faq_2.png' %}" class="img-fluid">
            <p class="mx-3">
                The Baking Mama team will review your recipe and check it over.
                If there is an issue with your recipe , the team will contact you so it can be amended.
                If everything is ok, the team will post your recipe in the appropriate category. 
                Usually the recipe will also appear as featured on the home page for a while as well!
            </p>
        </div>
    </div>

    <div class="row mb-4">
        <h2>and Then?...</h2>
        <div class="d-flex flex-no-wrap align-items-center">
            <img src="{% static 'img/faq_3.png' %}" class="img-fluid">
            <p class="mx-3">
                Other Users can view your recipe, make it for themselves and leave a comment/rating!
                You can check on how people liked your recipe and reply to their comments. 
            </p>
        </div>
    </div>
    <div class="col-lg-8 mt-3 pb-5">
        <h2>How do I see all of my Recipes?</h2>
            <p>
                This Feature is coming shortly!
                If you have more recipes you can submit another below:
            </p>
            <a href="/submit" class="btn btn-submit accent-light text-dark border-0">Submit Another?</a>
            
    </div>
</div>


{% endblock %}